body{
background:#0b0b0f;
color:#e6e6e6;
font-family:Georgia,serif;
margin:0;
}

header{
background:#111;
padding:20px;
text-align:center;
}

nav a{
color:#ddd;
margin:15px;
text-decoration:none;
font-size:18px;
}

.container{
display:flex;
max-width:1200px;
margin:auto;
padding:20px;
}

main{
flex:3;
padding-right:40px;
}

aside{
flex:1;
background:#151515;
padding:20px;
border-radius:10px;
}

.story-image{
width:100%;
border-radius:10px;
margin-bottom:20px;
}

.read-btn{
background:#ff4c4c;
padding:10px 20px;
color:white;
text-decoration:none;
border-radius:6px;
}

footer{
text-align:center;
padding:20px;
background:#111;
}